### Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Allure
allure-results/
allure-report/

# Env / config
.env
*.local

# Java
*.class

# Temp
*.tmp
*.temp